@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

section {}

.bi {
    font-size: 13.5px;
}

button {
    padding: 8px 10px;
}

/* General */
.bootstrap-container {
    margin: auto;
    background-color: red;
    max-width: 1000px;
    margin-top: 12px;
    padding: 12px;
}

/* Job Newsfeed */
.job-newsfeed-card {
    display: flex;
    flex-direction: column;
    background-color: burlywood;
}


.job-newsfeed-card-row-one {
    background-color: chartreuse;
    display: flex;
    justify-content: space-between;
}

/* Similar Skills */
.similar-skills-container {}


/* Find Freelancer */
.find-freelancer-container {}